form {
    margin: 0 auto;
    width: 90%;
    max-width: 40rem;
}

form button {
    width: 50%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    margin-top: 20px;
    cursor: pointer;
}
form button:hover{
    background-color: #1a4d2e;
    color: #fff;
}

form label {
    display: block;
    font-weight: bold;
    text-align: left;
    padding: 20px 0px;
}

form input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 0.5rem;
}