/* .App {
  text-align: center;
}

.mynama {
  padding: 3px;
  font-size: 30px;
  font-weight: bold;
  background-color: #fff;
  border: none;
  cursor: pointer;
  color: #0377FF;
  text-decoration-line: underline;
}
.blueone{
  color: #0377FF;
}
.btn-inc {
  padding: 10px 40px;
  font-size: 20px;
  background-color: white;
  border: 1px solid #000;
  cursor: pointer;
}
.btn-inc:hover {
  background-color: #0377FF;
  color: white;
  transition: all 0.5s ease;
}
.btn-dec{
  padding: 10px 40px;
  font-size: 20px;
  background-color: white;
  border: 1px solid #000;
  cursor: pointer;
}
.btn-dec:hover{
  background-color: #0377FF;
  color: white;
  transition: all 0.5s ease;
}
.count{
  padding: 2px 20px;
  font-size: 30px;
  border: none;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 15px;
}
.btn-wrap{
  display: flex;
  justify-content: center;
  text-align: center;
} */
